@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
  background: var(--backgroundColour);
  margin: 0;
  font-family: var(--mainFont);
}

:root {
  --primaryPink: #ED6B86;
  --backgroundColour: #463239;
  --lightBackground: #4F383F;
  --mainFont: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --secondFont: 'Bebas Neue', cursive;
}

section {
  padding: 4em 2em 1em 2em;
}

/* START HERE*/
/* nav bar*/
.navbar {
  background: var(--primaryPink);
  padding: 1em 1em 1em 1em;
  /* DAVID PARK text on navbar*/
  /* menu button on navbar*/
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar nav {
  /* TEMPORARY DISABLE*/
  display: none;
}

.navbar .navbarName {
  text-decoration: none;
  font-weight: regular;
  color: white;
  font-size: 1.2em;
  padding: 0em 0em 0em 0.5em;
}

.navbar .mobile-menu {
  cursor: pointer;
}

.hero {
  text-align: center;
  /* PROGRAMMING WARLORD text*/
  /* buttons*/
  /* entire paragraph*/
}

.hero .avatar {
  border: 5px solid var(--primaryPink);
  display: block;
  width: 251px;
  height: 251px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.hero #aboutMeName {
  padding: 0.25em 2em 0.15em 2em;
  margin: 0em 0em 0em 0em;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 38px;
}

.hero .temporaryDisable {
  display: none;
}

.hero #description {
  color: white;
  text-decoration: none;
  font-weight: none !important;
  font-size: 21px;
}

.hero .heroGithub {
  margin-right: 1em;
}

.hero .heroGithub, .hero .heroTwitter {
  color: white;
  text-decoration: none;
  padding: .6em 1.3em;
  background: var(--primaryPink);
  font-size: 16px;
  font-weight: bold;
}

.hero .aboutMeDescription {
  color: white;
  text-decoration: none;
  font-weight: none;
  padding-top: 4.2em;
  padding-bottom: 4.5em;
}

.hero #aboutMeOne, .hero #aboutMeTwo, .hero #aboutMeThree {
  font-size: 25px;
}

.hero #aboutMeOne {
  color: var(--primaryPink);
  font-weight: bold;
}

.hero #aboutMeTwo {
  width: 740px;
  margin: 0 auto 0 auto;
}

.hero #aboutMeThree #descriptionResume {
  color: var(--primaryPink);
  text-decoration: none;
}

.hero ul li {
  background: none;
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border: 1px solid var(--primaryPink);
}

.hero ul li h5 {
  font-size: 24px;
  color: var(--primaryPink);
  font-weight: bold;
  margin-top: 0.3em;
}

.hero ul li p {
  color: white;
  font-size: 17px;
  padding-bottom: 1.2em;
}

.hero ul li a {
  color: white;
  text-decoration: none;
  background: var(--primaryPink);
  padding: 0.5em 3.7em;
}

.hero ul li img {
  width: 133px;
  height: 133px;
  border-radius: 50%;
  margin-bottom: 0.5em;
}

.hero ul li h6 {
  color: white;
  text-decoration: none;
  font-weight: none !important;
  font-size: 17px;
  margin-bottom: 0.5em;
}

.graphics {
  text-align: center;
  background: var(--primaryPink);
}

.graphics .graphicsTitle {
  font-family: var(--secondFont);
  color: white;
  font-size: 111px;
  margin: 0 auto 5em auto;
}

.graphics .graphicsTitle .fuck {
  -webkit-text-stroke: white 1px;
}

ul {
  list-style: none;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */